
    <div class="container-fluid">
        <div class="row">
            
            <!-- /.col-lg-12 -->
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        List of customers
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th> ID</th>
                                        <th> NAME</th>
                                        <th>ADDRESS</th>
                                        <th>EMAIL</th>
                                        <th>PHONE</th>
                                    </tr>
                                </thead>
                                <tbody id="customers-table">
                                    
                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->

<!-- /#page-wrapper -->



<script type="text/javascript">
    get_all_customers();
    function get_all_customers(){
      $.ajax({
      url: 'api/customers',
      type: 'GET',
      beforeSend: function(xhr){xhr.setRequestHeader('Authentication', localStorage.getItem('token'));},
      success: function(data){
          var html = '';
          for(var i = 0; i < data.length; i++){
            
            html += '<tr><th>'+data[i].id+'</th><th>'+data[i].name+'</th><th>'+data[i].address+'</th><th>'+data[i].email+'</th><th>'+data[i].phone+'</th></tr>';
              
          }
          $("#customers-table").html(html);
          //$("#customers").DataTable();
      }

    });
  }

  
  

  </script>